<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WEVZJ57MDQ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WEVZJ57MDQ');
        </script>
    </head>
    <body>
        <iframe title="ORÇAMENTARIO CONSOLIDADO - SEPLAN" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMDJlOWQ1NmMtYmZiNC00NmMxLTllYmUtMzBlYWZiNTZhZmE2IiwidCI6IjBjNDkxMDNlLWVjZGEtNGY0YS1hNGMzLWI3YmFmNmM5YmQ4YyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </body>
</html>
